/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

div.car-count {
    font-size: 120px;
    margin: 10px;
    background-color: lightsalmon;
    border-radius: 20px;
}

div#cars {
    display: flex;
    overflow: scroll;
}

div#cars img{
    width: 200px;
    border-radius: 8px;
    margin-right: 8px;
}